.container {
    border: 0px solid darkgrey;
    border-radius: 3px;
    padding: 5px;
    width: 60%;
    margin: 0 auto;
    background-color:khaki;
}

.card-5 {
    background: rgba(255,255,255,0.75) !important;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    margin-left:12%
}
/* Popup box */
#popup{
    position: absolute;
    width: auto;
    height: 30px;
    background: #fe6b1f;
    display: none;
    color: white;
    border-radius: 5px;
}
#messages {
    padding: 5px;
    background:transparent !important;
}

#copy {
    background: none;
    color: white;
    font-weight: bold;
    padding: 8px 25px;
    border: 0;
}
.system-message {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    border-radius: 25px;
    font-weight: bold;
}

.message-avatar {
    font-weight: bold;
}